<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8" />
    <title>Örflæði</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>

  <body class="bg-gray-100">
    <div class="mx-auto">
      <div class="bg-teal-500">
        <nav
          id="navigation"
          class="flex items-center justify-between flex-wrap p-6 max-w-6xl mx-auto"
        >
          <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="font-semibold text-xl tracking-tight"
              ><span id="title">Örflæði</span></span
            >
          </div>
          <div class="block sm:hidden">
            <button
              id="hamburger"
              class="flex items-center pl-3 py-2 rounded text-teal-200 hover:text-white hover:border-white"
            >
              <svg
                class="fill-current h-3 w-3"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
              </svg>
            </button>
          </div>
          <div
            id="hamburger-dropdown"
            class="bg-teal-500 w-full hidden sm:block flex-grow sm:flex sm:items-center sm:w-auto p-6 sm:p-0"
          >
            <div class="text-sm sm:flex-grow">
              <a href="#" class="nav-btn">
                Docs
              </a>
              <a href="#" class="nav-btn">
                Examples
              </a>
              <a href="#" class="nav-btn">
                Blog
              </a>
            </div>
            <div>
              <a
                href="#"
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 sm:mt-0"
                >Download</a
              >
            </div>
          </div>
        </nav>
      </div>
      {% block body %}{% endblock body %}
      <script src="{{ url_for('static', path='/app.js') }}"></script>
    </div>
  </body>
</html>
