<!DOCTYPE html>
<html lang="is">
  <head>
    <meta charset="utf-8" />
    <title>Örflæði: Öll rafhjól og hlaupahjól á einum stað</title>
    <link
      href="{{ url_for('static', path='/dist/styles.css') }}?cache=1"
      rel="stylesheet"
    />
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" sizes="32x32">
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" sizes="192x192">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Örflæði.is" />
    <meta property="og:description" content="Gagnagrunnur með öllum rafhjól, hlaupahjólum og öðrum léttum rafknúnum farartækjum frá helstu söluaðilum." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.orflaedi.is/" />
    <meta property="og:image" content="{{ url_for('static', path='/opengraph.png') }}" />
  </head>

  <body class="bg-gray-100 flex flex-col flex-wrap items-center min-h-screen">
    <div class="w-full">
      <nav
        id="navigation"
        class="flex items-center justify-between flex-wrap p-6 max-w-6xl mx-auto"
      >
        <a id="logo" href="/" class="mr-6 block" alt="Örflæði">
          {% include "logo.svg" %}
        </a>
        <div class="block sm:hidden">
          <button
            id="hamburger"
            class="flex items-center pl-3 py-2 rounded hover:text-gray-800 hover:border-gray-400"
          >
            <svg
              class="fill-current h-4 w-4"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>
        <div
          id="hamburger-dropdown"
          class="flex-grow bg-gray-100 shadow sm:shadow-none sm:bg-transparent w-full hidden sm:block sm:flex sm:items-center sm:w-auto p-6 sm:p-0"
        >
          <div class="text-sm sm:flex-grow">
            <a
              href="{{ url_for('get_index') }}?flokkur=bike_b"
              class="{{ 'selected' if request.query_params.get('flokkur') == 'bike_b' }} nav-btn"
            >
              Rafhjól <span class="ml-2 text-gray-500">{{ classification_counts['bike_b'] }}
            </a>
            <a
              href="{{ url_for('get_index') }}?flokkur=bike_c"
              class="{{ 'selected' if request.query_params.get('flokkur') == 'bike_c' }} nav-btn"
            >
              Rafskútur <span class="ml-2 text-gray-500">{{ classification_counts['bike_c'] }}
            </a>
            <a
              href="{{ url_for('get_index') }}?flokkur=lb_1"
              class="{{ 'selected' if request.query_params.get('flokkur') == 'lb_1' }} nav-btn"
            >
              Létt bifhjól <span class="ml-2 text-gray-500">{{ classification_counts['lb_1'] + classification_counts['lb_2'] }}
            </a>
          </div>
          <div>
            <a
              href="https://www.solberg.is/rafhjolaflokkar/"
              target="_blank"
              class="font-bold inline-block text-sm px-4 py-2 leading-none border rounded border-white hover:border-gray shadow bg-white mt-4 sm:mt-0"
              >Um flokkana</a
            >
          </div>
        </div>
      </nav>
    </div>
    <div class="flex-grow w-full">
      <div class="max-w-6xl mx-auto">
      {% block body %}{% endblock body %}
      </div>
    </div>
    <footer class="bg-gray-900 w-full mt-8">
      <div class="mx-auto max-w-6xl px-4 py-8 sm:px-6 text-xs sm:text-sm">
        <p class="my-1 text-gray-600">Vefsíðan notar Scrapy til að safna upplýsingum frá vefsíðum verslana</p>
        <p class="my-1 text-gray-600">Þessi vefsíða notar ekki cookies og safnar engum persónugögnum</p>
        <p class="my-1 text-gray-600">Kóðinn af síðunni er á <a href="https://github.com/jokull/orflaedi">github.com/jokull/orflaedi</a></p>
        <p class="my-1 text-gray-600"><a href="mailto:jokull@solberg.is" class="font-bold text-gray-500">jokull@solberg.is</a></p>
      </div>
    </footer>
    {% include "fathom.html" %}
    <script src="{{ url_for('static', path='/dist/app.js') }}"></script>
  </body>
</html>
