{% extends "base.html" %} {% block body %}
<div class="sm:px-6">
  {% if not request.query_params.keys() %}
  <div class="welcome my-6 px-4 sm:px-0 sm:mt-8 sm:mb-10">
    <h1 class="font-black text-3xl lg:text-4xl">
      Rafhjól að þínu skapi frá helstu söluaðilum í einum grunni
    </h1>
    <div class="text-right text-xm text-gray-500">
      *engin ábyrgð tekin á verðum og upplýsingum sem hér koma fram
    </div>
    <div class="my-6 shadow-lg">
      <script
        id="bid-82316"
        data-overcast="banner"
        src="//heartbeat.airserve.net/js/airserve/v9/airserve.js?v1&id=bid-82316&autorender=1"
        data-urls="sahara/ellingsen/20200330_rafhjolasetrid/rafhjolasetur/index.html"
        data-width="1104"
        callback="%%CLICK_URL_UNESC%%"
        data-dfp-pattern="%%PATTERN:url%%"
        data-height="326"
        data-responsive="true"
      ></script>
    </div>
  </div>
  {% endif %} {% with flokkur = request.query_params.get('flokkur') %}
  <div class="pickers mb-4">
    <div
      class="picker picker-retailers {{ 'expanded' if request.query_params.get('verslun') }}"
    >
      <button class="block title">
        Verslun
        <img
          src="{{ url_for('static', path='chevron.down.circle.svg') }}"
          class="inline h-4 ml-2"
        />
      </button>
      <ul>
        {% for retailer, count in retailer_counts %}
        <li>
          <a
            href="{{ url_for('get_index') }}?verslun={{ retailer.slug }}{{ '&{}={}'.format('flokkur', flokkur) if flokkur }}"
          >
            <span
              class="{{ 'selected' if request.query_params.get('verslun') == retailer.slug }} name"
              >{{ retailer.name }}</span
            >
            <span class="pill ml-2">{{ count }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div
      class="picker picker-price_ranges {{ 'expanded' if request.query_params.get('verdbil') }}"
    >
      <button class="block title">
        Verðbil
        <img
          src="{{ url_for('static', path='chevron.down.circle.svg') }}"
          class="inline h-4 ml-2"
        />
      </button>
      <ul>
        {% for num, price_range, count in price_range_counts if count %}
        <li>
          <a
            href="{{ url_for('get_index') }}?verdbil={{ num }}{{ '&{}={}'.format('flokkur', flokkur) if flokkur }}"
          >
            <span
              class="{{ 'selected' if request.query_params.get('verdbil') == '{}'.format(num) }}"
            >
              {{ ({ 0: 'Undir 60.000 kr', 1: '60 - 130.000 kr', 2: '130 -
              250.000 kr', 3: '250 - 600.000 kr', 4: 'Yfir 600.000 kr' })[num]
              }}
            </span>
            <span class="pill ml-2">{{ count }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endwith %} {% if not request.query_params.keys() %}
  <a
    class="block my-6 shadow-lg"
    target="_blank"
    href="https://www.tm.is/rafhjol?utm_medium=banner&utm_content=1104x326&utm_campaign=TM_Rafhjol"
  >
    <video playsinline autoplay muted loop>
      <source
        src="https://www.alnetid.com/banners/0520/TM/TRY_12860_1104x326/Default/Default.hyperesources/TM_1104%C3%97326.mp4"
        type="video/mp4"
      />
    </video>
  </a>
  {% endif %}
  <div class="my-6 px-4 sm:px-0 mt-4 sm:mt-8">
    <div class="text-xs text-right text-gray-500">
      {{ models.count() }} hjól — Verð ↑
    </div>
  </div>
  <div class="bikes grid grid-cols-1 gap-4">
    {% for model in models %}
    <a
      href="{{ model.scrape_url }}"
      target="_blank"
      class="model model-{{ model.retailer.slug }} rounded overflow-hidden shadow-lg sm:mb-1"
    >
      <img
        class="w-full bg-white object-contain h-64 sm:h-40 p-1 lazyload"
        data-src="{{ imgix_url(model.image_url, {'trim':'color', 'trim-tol': '20', 'auto':'format,compress', 'w':'400'}) }}"
        data-srcset="{{ imgix_url(model.image_url, {'trim':'color', 'trim-tol': '20', 'auto':'format,compress', 'w':'400'}) }} 1x,
                     {{ imgix_url(model.image_url, {'trim':'color', 'trim-tol': '20', 'auto':'format,compress', 'w':'400', 'dpr': '2'}) }} 2x,
                     {{ imgix_url(model.image_url, {'trim':'color', 'trim-tol': '20', 'auto':'format,compress', 'w':'400', 'dpr': '3'}) }} 3x"
        alt="Image of {{ model.name }}"
      />
      <div class="px-4 py-4">
        <div class="font-bold uppercase text-gray-600 text-xs tracking-wider">
          {{ model.make }}
        </div>
        <div title="{{ model.name }}" class="name font-bold text-xl mb-1">
          {{ model.name }}
        </div>
        <p class="text-gray-700 text-base">
          {% if model.price %} {{ "{:,.0f}".format(model.price).replace(",",
          ".") }} kr {% else %} - kr {% endif %}
        </p>
        <div class="py-1">
          <div class="pill mt-2 mr-px pill-{{ model.retailer.slug }}">
            {{ model.retailer.name }}
          </div>
          <div class="pill mt-2">{{ model.classification.value['long'] }}</div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock body %}
